$background-color: #252525;
$basic-font: #FFFFFF;
$primary-green: #80FFDB;
$primary-blue: #0C1E7F;


$primary-purple: #612897;
$primary-red: #D22779;
$primary-pink:#FF008E;

$one-blue: #75D5FD;
$one-purple:#B76CFD;
$one-red:#FF2281;
$one-darkblue:#011FFD;

$two-blue: #440BD4;
$two-purple:#E92EFB;
$two-red:#FF2079;
$two-darkblue:#04005E;
$two-lightblue:#84CEEB;

$layout-breakpoint-small: 960px;