@import 'base.scss';


.footerItems{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 4rem;
    padding-top: 4rem;
    width:95%;
    max-width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
}

.footerItem{
    display: flex;
    align-items: center;
    flex: 0.3 0 auto;
    padding-left: 1rem;
}

.footerGroup{
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;
}

.footerGroupItem{
   padding: 0 1rem;
}

.footerGroupItemList{
    list-style: none;
    padding:0;
}

.footerGroupItemListItem{
    margin-bottom: 10px;
}


.footerItemTag {
    display: flex;
    align-items: center;
    width: fit-content;
    &:hover{
        background: $primary-purple;
    }
}

.footerItemImage{
    margin-right: 5px;
    display: flex;
    align-items: center;
    
}