@import 'base.scss';

@font-face {
  font-family: 'Trispace-medium';
  src: url('/Trispace-Medium.ttf') format("truetype");
}

@font-face {
  font-family: 'Trispace-light';
  src: url('/Trispace-Light.ttf') format("truetype");
}

@font-face {
  font-family: 'Trispace-regular';
  src: url('/Trispace-Regular.ttf') format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  width:100%; 
  //background-color: $background-color;
  background:linear-gradient(70deg, $two-darkblue,90%,$two-purple);
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Trispace-medium';
  background:linear-gradient(90deg, $two-red, $two-purple, $two-red);
  background-clip: text;
  font-size: 48px;
  text-align: center;
  line-height: 64px;
  margin:0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: $layout-breakpoint-small){
    font-size: 32px;
    line-height: 40px;
  }
}

h2 {
  font-family: 'Trispace-medium';
  font-size: 32px;
  line-height: 64px;
  color: $basic-font;

  @media (max-width: $layout-breakpoint-small){
    font-size: 24px;
    line-height: 40px;
    text-align: left;
  }

}
.h2-gradient {
    background:linear-gradient(90deg, $two-red, $two-purple, $two-red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



h3,h4,h5,h6{
  font-family: 'Trispace-regular';
  color: $basic-font;
}

p,a,li{
  font-family: 'Trispace-regular';
  font-size: 24px;
  line-height: 48px;
  color: $basic-font;
  @media (max-width: $layout-breakpoint-small){
    font-size: 20px;
    line-height: 32px;
    text-align: left;
  }
}



.isActive{
  color: $primary-green;
}

.primary-button{
  padding:10px;
  background-image: linear-gradient(to right, $two-blue 0%, $two-red  51%, $two-blue  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
 
  transition: 0.5s;
  background-size: 200% auto;
  font-family: 'Trispace-medium';
  color: $basic-font;            
  border-radius: 10px;
  border-width: 0px;
  border-color:#fff;
  display: block;
  &:hover{
    background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
     cursor: pointer;
  }
}