@import 'base.scss';

@font-face {
  font-family: 'Trispace-medium';
  src: url('/Trispace-Medium.ttf') format("truetype");
}

@font-face {
  font-family: 'Trispace-light';
  src: url('/Trispace-Light.ttf') format("truetype");
}

@font-face {
  font-family: 'Trispace-regular';
  src: url('/Trispace-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Trispace-light';
  src: url('/Trispace-Light.ttf') format("truetype");
}


html{
  background-color: $two-darkblue;
}
body {
  padding: 0;
  margin: 0;
  width:100%; 
  
  background:linear-gradient(70deg, $two-darkblue,90%,$two-purple);
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


//############## Text Styling ###################//
h1 {
  font-family: 'Trispace-medium';
  color: $basic-font;
  font-size: 48px;
  text-align: left;
  line-height: 64px;
  margin:0;


  @media (max-width: $layout-breakpoint-small){
    font-size: 32px;
    line-height: 40px;
    text-align: left;
  }

}

.h1-gradient{
  background:linear-gradient(90deg, $two-red, $two-purple, $two-red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: 'Trispace-medium';
  font-size: 32px;
  line-height: 64px;
  color: $basic-font;

  @media (max-width: $layout-breakpoint-small){
    font-size: 24px;
    line-height: 40px;
    text-align: left;
  }

}
.h2-gradient {
    background:linear-gradient(90deg, $two-red, $two-purple, $two-red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.h2-margin-s{
  margin-top: 8px;
  margin-bottom: 8px;
}
.p-margin-s{
  margin-top: 4px;
  margin-bottom: 4px;
}



h3,h4,h5,h6{
  font-family: 'Trispace-regular';
  color: $basic-font;
}

p,a,li{
  font-family: 'Trispace-regular';
  font-size: 24px;
  line-height: 48px;
  color: $basic-font;

  
  @media (max-width: $layout-breakpoint-small){
    font-size: 20px;
    line-height: 32px;
    text-align: left;
  }
}

a{
  color: $two-purple;
  &:hover{
    background: $primary-purple;
  }
}


.small{
    font-size: 18px;
    line-height: 24px;
}

.isActive{
  color: $primary-green;
}

.font-underline{
  text-decoration: underline;
}
.font-light{
  font-family: 'Trispace-light';
}

.font-bold{
  font-weight: bold;
}
//####################################################//


//################### IMAGE Styling ################//
.icon-vertical-margin-xl{
  margin-top:2rem;
  margin-bottom:4rem;
}

//####################################################//

