@import 'base.scss';
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width:$layout-breakpoint-small ) {
    padding-top: 7em;
  }
  

}
.container{
  max-width: 90vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8rem;

  @media (max-width:$layout-breakpoint-small ) {
    padding-bottom: 10rem;
  }
}

.statement{
  max-width: 80%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: $layout-breakpoint-small) {
    max-width: 100%;
}
}

.page{
  padding: 0 10rem;
  @media (max-width:$layout-breakpoint-small ) {
    padding: 0 2rem;
  }
}


.socialMediaRow{
  display: flex;
  flex-direction: row;
  a {
    margin-right:1rem;
    margin-left: 1rem;
  }
}

.typewriting {
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  animation: typing 3.5s steps(100,end);
  @media (max-width:$layout-breakpoint-small ) {
    animation: none;
    white-space: normal;
  }
}

@keyframes typing {
  from {width: 0}
  to {width: 100%;}
}
